# builds
project/target
target

# Intellij
.idea

# http4s reference tutorial files
src/main/scala/com/bryanesmith/runlog/services/HelloWorld.scala
src/main/resources/logback.xml

# Config
src/main/resources/application.conf

# Frontend
src/main/resources/frontend-dist
