.dashboard-bar-chart {

  .ct-chart {
    padding-top: 1em;
    height: $widget-height;
    background-color: $widget-background-color;
    border-radius: $widget-border-radius;
  }

  .ct-label {
    color: $widget-text-color;
    font-size: 1.15rem;
  }
}
