.dashboard-bar-chart {

  .ct-chart {
    padding-top: 1em;
    height: 12.25em;
    background-color: #eee;
    border-radius: .5em;
  }

  .ct-label {
    color: #666;
    font-size: 1.15rem;
  }
}
