.dashboard {

  .widget-stub, .widget-stats {
    text-align: center;
    background-color: $widget-background-color;
    border-radius: $widget-border-radius;
  }

  .widget-stub {
    min-height: $widget-height;
    padding: 1em;
  }

  .widget-stats .widget-stat {
    border-right: 1px solid #ccc;
    height: 100%;
  }

  .widget-stats .widget-stat:last-child {
    border-right: none;
  }

  .widget-stat {
    padding: 4em 0;

    .name {
      font-size: 1.15em;
      font-weight: $default-jumbotron-light-weight;
    }

    .value {
      font-size: 2em;
      font-weight: $default-jumbotron-heavy-weight;
    }
  }

} // .dashboard
