.dashboard {

  .widget-stats {

    // background-color: $widget-background-color;
    // border-radius: $widget-border-radius;
  }

  .widget-stats .widget-stat, .widget-stats .widget-stat-imposter {
    text-align: center;
    background-color: $widget-background-color;
    border-right: 1px solid #ccc;
    height: 100%;

    &:first-child {
      border-radius: $widget-border-radius 0 0 $widget-border-radius;
    }

    &:last-child {
      border-radius: 0 $widget-border-radius $widget-border-radius 0;
    }
  }

  .widget-stats .widget-stat:last-child {
    border-right: none;
  }

  .widget-stat {
    padding: 4em 0;

    .name {
      font-size: 1.15em;
      font-weight: $default-jumbotron-light-weight;
    }

    .value {
      font-size: 2em;
      font-weight: $default-jumbotron-heavy-weight;
    }
  }

} // .dashboard
