//
// Widgets
//
$widget-height: 12.25em;
$widget-background-color: #eee;
$widget-text-color: #666;
$widget-border-radius: .5em;

//
// Colors
//
// TODO: rename slice-foo-color
$color-slice-none: #eee;
$color-slice-x-train: #4687c9;
$color-slice-casual: #f4c63d;
$color-slice-distance: #f05b4f;
$color-slice-speed: #70b595;
