//
// Custom
//
$my-blue-color: #6294c9; // #4687c9
$my-green-color: #70b595;
$my-light-grey-color: #eee;
$my-orange-color: #f29c57;
$my-purple-color: #9a7eba;
$my-red-color: #f05b4f;
$my-yellow-color: #f4c63d;

//
// Bootstrap
//
$default-text-color: #333;
$default-jumbotron-light-weight: 200;
$default-jumbotron-heavy-weight: 500;

//
// Widgets
//
$widget-height: 12.25em;
$widget-background-color: #eee;
$widget-border-radius: .5em;
