//
// Custom
//
$my-blue-color: #6294c9; // #4687c9
$my-green-color: #70b595;
$my-red-color: #f05b4f;

//
// Bootstrap
//
$default-text-color: #333;

//
// Widgets
//
$widget-height: 12.25em;
$widget-background-color: #eee;
$widget-text-color: #666;
$widget-border-radius: .5em;
