$slice-none-color: $my-light-grey-color;
$slice-x-train-color: $my-blue-color;
$slice-casual-color: $my-yellow-color;
$slice-distance-color: $my-red-color;
$slice-speed-color: $my-green-color;
$slide-run-xtrain-color: $my-orange-color;

.pie-chart {

  padding-top: .75em;

  .ct-label {
    fill: #333;
    font-size: 1.15rem;
  }

  .slice-none > path { fill: $slice-none-color }
  .slice-x-train > path { fill: $slice-x-train-color }
  .slice-casual > path { fill: $slice-casual-color }
  .slice-distance > path { fill: $slice-distance-color }
  .slice-speed > path { fill: $slice-speed-color }
  .slice-run-x-train > path { fill: $slide-run-xtrain-color }
}

.pie-chart-legend {

  min-height: $widget-height !important; // TODO: once bootstrap styles loading before custom, remove !important
  padding: .5em;
  border-radius: $widget-border-radius;
  border: .5em solid $widget-background-color;
  color: $default-text-color;

  table {
    border-collapse: separate;
    border-spacing: .25em;
    width: 100%;
  }

  $color-box-len: 1.25em;

  table tr {
    line-height: $color-box-len;
  }

  table .color {
    width: $color-box-len + .25em;
    height: 1em;
    border: 1px solid #666;
    &.slice-none { background-color: $slice-none-color }
    &.slice-x-train { background-color: $slice-x-train-color }
    &.slice-casual { background-color: $slice-casual-color }
    &.slice-distance { background-color: $slice-distance-color }
    &.slice-speed { background-color: $slice-speed-color }
    &.slice-run-x-train { background-color: $slide-run-xtrain-color }
  }

  table .description {
    text-align: left;
    padding: .2em .5em;
  }
}
