.authenticate {
  .alert, form {
    width: 70%;
    max-width: 35em;
    margin: 0 auto;
  }
  .alert {
    margin-bottom: 1em;
  }
  form {
    padding: 2em;
    background: #eee;
    border-radius: 1em;
  }
  .hint {
    display: inline-block;
    margin-left: .75em;
    font-size: 1.35em;
    vertical-align: middle;
  }
}
