.row {
  margin-bottom: 1em;
}

.widget-label {
  display: inline-block;
  margin-bottom: .25em;
}

h2 {
  font-size: 1.25em;
}

.ct-chart { // TODO: move
  height: 12.25em;
  background-color: #eee;
}

.ct-label { // TODO: move
  color: #666;
  font-size: .85em;
}
