.dashboard {

  .label-info {
    background-color: $my-blue-color;
    text-shadow: 1px 1px 1px $default-text-color;
  }

  h2 {
    font-size: 1.35em;
  }

  .pie-chart-wrapper {
    min-height: $widget-height;
  }

} // .dashboard
