.dashboard {

  .widget-label {
    display: inline-block;
    margin-bottom: .25em;
  }

  h2 {
    font-size: 1.25em;
  }

  .pie-chart-wrapper {
    min-height: $widget-height;
  }

} // .dashboard
