.activity .global-actions {
  text-align: right;
  // Add padding b/w icon and text in buttons
  button .glyphicon + span {
    margin-left: .35em;
  }
}

.activity .entries {
  margin-top: 2em;
}

.activity .data-category {
  text-transform: capitalize;
}

.activity .data-actions {
  text-align: right;
  a {
    text-decoration: none;
    color: #222;
    margin-right: .5em;
  }
}
